<web-app>

  <servlet>
    <servlet-name>simple</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>simple</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

</web-app>
